.top{
    position: relative;
    background: #3D43CF;
}
section.top .box{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px 0;
}
section.top .box .text p.top{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    margin: 0px;
}
section.top .box .text p.bottom{
    margin: 0px;
    padding-bottom: 13px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}

.top_search form{
    display: flex;
    align-items: center;
    position: absolute;
    width: 80%;
}
.top_search form input{
    width: 400px;
    padding: 7px 0px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);
    padding-left: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.top_search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    background: #3D43CF;
    z-index: 9999;
    padding: 30px 0;
}
.top_search form svg{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}


@media(max-width:575px){
    section.top .box .text{
        width: 100%;
    }
    section.top .box .text p.top,
    section.top .box .text p.bottom{
        text-align: center;
    }
}