footer{
    position: fixed;
    bottom: -1%;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    color: #555555;
    text-decoration: none;
    padding: 15px 0;
}
.footer_item p{
    font-size: 14px;
    color: #555555;
}
.footer_item.active{
    color: #3D43CF;
}