.shop_page {
    position: relative;
    height: 100vh;
    overflow-y: auto;
}

.category_section {
    margin-bottom: 150px;
}

.shop_page_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.shop_page_header p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 17px;
}
.shop_name {
    margin: 0;
    font-size: 1.5rem;
}

section.shop_page .product_slider {
    width: 100%;
    height: 180px;
    margin-top: 15px;
    border-radius: 20px;
}

section.shop_page .product_slider img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

section.shop_page .btn-button {
    margin-top: 15px;
}

.category_title {
    margin: 20px 0;
}

.product_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;

}

.shop_product_card {
    background: #D1D1D1;
    width: 47%;
    height: 15rem;
    margin: 5px;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    /*overflow: hidden;*/
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shop_product_card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.shop_product_text {
    height: 40%;
    padding: 0 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_product_card h3 {
    margin: 0;
    font-size: 0.9rem;
    height: 33%;
    overflow: hidden; /* Cheklangan balandlikdan oshgan matnni yashiradi */
    display: -webkit-box; /* Flex-like layout yaratadi */
    -webkit-box-orient: vertical; /* Matn yo‘nalishini o‘rnatadi */
    -webkit-line-clamp: 2; /* Maksimal qatorlar sonini belgilaydi */
    text-overflow: ellipsis; /* Qatorlardan oshgan joyda "..." qo'yadi */
    font-weight: 600;
}
.product_info_icon{
    position: absolute;
    /*filter: drop-shadow(0 0  5px rgba(0, 0, 0, 0.58));*/
    right: 5px;
    top: 48%;
    width: 25px !important;
    height: 25px !important;
}
.shop_product_count{
    color: white;
    position: absolute;
    background: #3D43CF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    left: 5px;
    top: 5px;
}

.shop_product_decrement{
    color: white;
    position: absolute;
    background: #3D43CF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    right: 6px;
    top: 5px;
}
.product_info_icon svg{
    width: 30px;
    height: 30px;
}
.shop_product_text .product_count {
    font-size: 0.6rem;
    margin: 0;
    height: 5%;
    color: #c1bfbf;
    margin-top: 10px;
}

.shop_product_text .product_price {
    font-size: 0.8rem;
    margin: 0;
    height: 33.33%;
    margin-bottom: 5px;
    margin-top: 10px;
}

.shop_modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Disable interactions when modal is not open */
    transition: opacity 1s ease-in; /* Smooth fade-in transition for the background */
}

.shop_modal.open {
    opacity: 1; /* Make the background visible when modal is open */
    pointer-events: all; /* Enable interactions when the modal is visible */
}

body.shop_modal.open {
    overflow: hidden !important; /* Disable scrolling */
}

.modal_content {
    position: absolute;
    width: 100%;
    height: 90vh;
    bottom: -100%; /* Initially below the screen */
    background: white;
    border-radius: 20px 20px 0 0; /* Rounded top corners */
    padding: 20px;
    transition: bottom 1s ease-out; /* Smooth slide-up transition */
}

.modal_content.open {
    bottom: 0; /* Slide the modal up to its final position */
}

.modal_content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.modal_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.modal_item h3{
    text-align: center;
}
.modal_item_img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_item img {
    height: 100%;
    width: 50%;

}

.modal_item_text {
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.modal_close {
    position: absolute;
    top: 20px;
    left: 20px;

    background: #3D43CF;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline: none;
    border: none;
    z-index: 5;
}

.modal_save {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #3D43CF;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline: none;
    border: none;
    z-index: 5;
}

.modal_save.saved {
    color: #f45a5a;
}

.modal_info {
    width: 100%;
    padding: 15px;
    height: 13rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: left;
}

.modal_info p {
    font-size: 0.9rem;
}

.modal_buy {
    position: absolute;
    bottom: 0;
    background: #3D43CF;
    width: 100%;
    height: 70px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.modal_calc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.modal_calc input {
    width: 40%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_calc button {
    width: 30%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
}

.modal_calc button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.modal_calc button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.modal_buy_btn {
    width: 45%;
    height: 40px;
    background: #fff;
    /*filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));*/
    border: none;
    outline: none;
    color: black;
    font-weight: 400;

    border-radius: 10px;

    box-shadow: 5px 5px 11px #25297e,
    -5px -5px 11px #555dff;
}

.cart_single_shop{
    position: fixed;
    bottom: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart_single_shop h1{
    background: #3D43CF;
    padding: 10px;
    width: 95%;
    margin: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
}

.save_cart_btn{
    position: absolute;
    bottom: 20%;
}